
@import './base.scss';

body, html {
    height: 100%;
    width: 100%;
    background-color: $primary-color;

}

.navbar {
    z-index: 5;
}

.carousel {
    margin: auto;
    margin-top: 2%;
    width: 30%;
    z-index: 1 !important;
}

.navBarLinks {
    margin-left: 50% !important;
    text-align: center !important;
    transform: translate(-50%, 0%);
}


.nav-item {
    padding-left: 5% !important;
    padding-right: 5% !important;
    font-size: 130%;
}

.homeLink, .pollsLink {
    width: 250px !important;
}


.dropdown-menu {
    background-color: #0d1117 !important;
    background: rgba(0, 0, 0, .6) !important
}

.dropdown {
    .nav-link {
        color: white !important;
        padding: 0% !important;
    } 
}

.dropdown-item {
    color: white;
}

.link {
    color: white;
}

.navBarSearch {
    transform: translate(0%, 20%);
}

.jumbotron {
    margin-top: 3%;
    margin-bottom: 3%;
    background-color: $secondary-color;
    button {
        visibility: hidden;
    }
}

.emailInput {
    width: 50%;
    margin: auto;
}

p {
    color: white;
}

h1, h2, h3 {
    color: white
}

.blog {
    margin-bottom: 8%;

    img {
        width: 90%;
        height: 90%;
    }

    .blogName {
        font-size: 180%;
        font-weight: 700;
        margin-bottom: 1%;
    }

}

@media only screen and (max-width: 1400px) {
    .carousel {
        margin: auto;
        margin-top: 2%;
        width: 40%;
    }
}





